@page "/products"

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Add a Product</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
